/* src/ContactForm.css */
.contact-form-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    /*background-color: rgba(0, 0, 0, 0.7); Semi-transparent background */
    text-align: center;
  }
  
  .contact-form-container h1 {
    color: white;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  div {
    margin-bottom: 10px;
    text-align: left;
  }
  
  label {
    margin-bottom: 5px;
    color: white;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input::placeholder,
  textarea::placeholder {
    color: #888;
  }
  
  button {
    padding: 10px;
    background-color: #325680;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  